property[data-groupname="table"] > value {
    display: flex;
    padding: 0px;
    border: none;
}

    property[data-groupname="table"] > value > .valuesList {
        width: 100%;
    }

        property[data-groupname="table"] > value > .valuesList > .listValue > property {
            display: flex;
            margin-bottom: 0px;
        }

        property[data-groupname="table"] > value > .valuesList > .listValue > .deleteContainer {
            top: 0;
            left: 0;
            padding: 10px;
            width: initial;
            right: initial;
            z-index: 999;
        }

        property[data-groupname="table"] > value > .valuesList > .listValue > property > name > span {
            display: none;
        }

        property[data-groupname="table"] > value > .valuesList > .listValue > property > name {
            flex-grow: 0;
            flex-basis: 44px;
            width: initial;
        }

        property[data-groupname="table"] > value > .valuesList > .listValue > property > value {
            flex-grow: 1;
            flex-basis: auto;
            display: flex;
            padding: 0px;
        }

property[data-groupname="table"] {
}

    property[data-groupname="table"] > value > .valuesList > .listValue > property > value > property {
        background-color: #e8e8e8;
        margin-bottom: 0px;
    }

    property[data-groupname="table"] > value > .valuesList > .listValue ~ .listValue > property > value > property[data-coretype="Value"] > name {
        display: none;
    }

    property[data-groupname="table"] > value > .valuesList > .listValue ~ .listValue > property > value > property > name {
        display: none;
    }

    property[data-groupname="table"] > value > .valuesList > .listValue ~ .listValue > property > value > property > value {
        border-top: none;
        border-bottom: none;
    }

    property[data-groupname="table"] > value > .valuesList > .listValue > property > value > property > value {
        background-color: white;
        padding: 0px;
    }